.cabecalho {
    background-image: linear-gradient(black,blue);
    color: rgb(255, 255, 255);
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-image: linear-gradient(rgb(5, 8, 221),rgb(71, 2, 80));
    padding: 100px;
}

.section2 {
    background-color: rgb(255, 255, 255);
    padding: 100px;
}

.imgfrutas {
    width: 5%;
}

.cabecalho.imagem{
    width: 20%;
}

.rodape{
    background-color: rgb(33, 245, 14);
    color: black;
}