.cabecalho {
    background-color: rgb(241, 239, 239);
    color: rgb(20, 1, 1);
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-color: rgb(255, 1, 1);
    padding: 100px;
}

.section2 {
    background-color: rgb(255, 242, 1);
    padding: 100px;
}

.imgfrutas {
    width: 5%;
}